{% extends 'base.html' %}

{% block userButtons %}
    {% if not user %}
        <a class="btn btn-primary" href="/login">Login</a>
    {% else %}
        <a class="btn btn-success" href="/dashboard">Portfolio</a>
        <a class="btn btn-danger" href="/logout">Logout</a>
    {% endif %}
{% endblock %}

{% block  content %}
<div class="wrapper">
    <div class="row databox entry-content mx-3">

        {% for market in markets %}
        <div class="col-lg-4 col-md-6 col-xs-12 card expose mp-3">
            <div class="card-block-top">
                <h5 class="card-title">{{market.coin_name}} - {{market.coin_pair}}</h5>
                {% if market.coin_logo == None %}
                <img class="card-img-top" src="/static/images/nologo.png" alt="{{market.coin_pair}}">
                {% else %}
                <img class="card-img-top" src="{{market.coin_logo}}" alt="{{market.coin_pair}}">
                {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Last Price:</strong>
                    <i class="fa fa-usd" aria-hidden="true"></i> ${{"%.10f"|format(market.currency.last_price * bitcoin.last_price)}}
                <li class="list-group-item"><strong>Last Price:</strong>
                    <i class="fa fa-btc" aria-hidden="true"></i> {{"%.10f"|format(market.currency.last_price)}}
                </li>
                <li class="list-group-item"><strong>Volume:</strong> </i> {{(market.currency.base_volume *
                    bitcoin.last_price) | round }}
                </li>
                <li class="list-group-item"><strong>24H High:</strong> <i class="fa fa-btc" aria-hidden="true"></i>
                    {{"%.10f"|format(market.currency.day_high)}}
                </li>
                <li class="list-group-item"><strong>24H Low:</strong> <i class="fa fa-btc" aria-hidden="true"></i>
                    {{"%.10f"|format(market.currency.day_low)}}
                </li>
                <li class="list-group-item"><strong>Bid:</strong> <i class="fa fa-btc" aria-hidden="true"></i>
                    {{"%.10f"|format(market.currency.bid_price)}}
                </li>
                <li class="list-group-item"><strong>Ask:</strong> <i class="fa fa-btc" aria-hidden="true"></i>
                    {{"%.10f"|format(market.currency.ask_price)}}
                </li>
            </ul>
            <div class="card-block-bottom">
                <!--where modal begins-->
                <a href="#" class="btn btn-lg btn-primary" data-toggle="modal"
                   data-target="#largeModal" onclick="insert_iframe('{{ market.coin_pair }}')">Details</a>
                <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Spread</h4>
                            </div>
                            <div class="modal-body" id="modal-iframe">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!--where modal ends-->
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function insert_iframe (ticker) {
        $("#modal-iframe").html(`<iframe src="/table/${ticker}" style="border: 0; width: 100%; height: 300px;"></iframe>`);
    }
</script>

{% endblock %}
